*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4d04e;
    font-family: 'Figtree', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White-color: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}


/* ---------------- General -------------------------*/

.container{
    background-color: var(--White-color);
    padding: 1.2rem;
    max-width: 375px;
    border-radius: 1.5rem;
    border: 0.2px solid;
    box-shadow: 9px 7px 0px 3px #000000;
}
img{
    margin-bottom: 0.7rem;
    border-radius: 0.6rem;
    width: 100%;
}

.btn {
    background-color: var(--Yellow);
    font-weight: 800;
    padding: 0.2rem 0.5rem;
    width: fit-content;
    margin-bottom: 0.7rem;
    color: var(--Gray-950);
}

/* ---------------- Typography -------------------------*/


h5{
    margin-bottom: 0.7rem;
    color: var(--Gray-500);
}

h2{
    color: var(--Gray-950);
    margin-bottom: 0.7rem;
}
h2:hover, h2:focus{
    color: var(--Yellow);
    transform:scale(1.01);
    cursor: pointer;
}

/* -------------------------- Profile ------------------*/


.Profile-image{
    width: 30px;
}
.profile{
    display: flex;
    gap: 13px;
    margin-top: 1rem;
}
.profile p{
    margin-top: 0.4rem;
    font-weight: 800;
    color: var(--Gray-950);
}
.main-text{
    color: var(--Gray-500);
}




